@font-face {
  font-family: "vn-color-emoji";
  src: local("Apple Color Emoji"),
       local("Segoe UI Emoji"), 
       local("Segoe UI Symbol"),
       local("Noto Color Emoji");
}

* {
  box-sizing: border-box;
}

:root {
  --site-background-color: #fff;
  --site-foreground-color: #000;
  --site-link-color: #00f;
  --site-link-hover-color: #f00;
}


@media (-ms-high-contrast: active), (prefers-contrast: high) {
  :root {
    --site-background-color: #000 !important;
    --site-foreground-color: #fff !important;
    --site-link-color: #ff0 !important;
    --site-link-hover-color: #0f0 !important;
  }
}

body {
  font-size: 12pt;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  margin: 0;
  background-color: var(--site-background-color);
  color: var(--site-foreground-color);
}

article>header {
  font-weight: bold;
}

:link, :visited {
  color: var(--site-link-color);
}

:link:hover, :visited:hover {
  color: var(--site-link-hover-color);
}

:link:focus, :visited:focus {
  color: var(--site-link-hover-color);
  outline: 2px dotted currentColor;
  outline-offset: 2px;
}

#wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 16px;
}

form {
  display: flex;
}

form>input {
  flex-grow: 1;
}

h1+nav {
  margin: -1.75em 0 1.75em;
}

#generator-form {
  display: flex;
  flex-direction: column;
}

.field {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.field>label {
  font-weight: bold;
}

.note {
  border: 1px solid #aa4;
  background: #ffc;
  padding: 0.5em;
}

.note::before {
  content: "Note:\20";
  font-weight: bold;
}

.field>.note {
  font-size: 9pt;
  margin-top: 0.25em;
}

.link_entry {
  display: flex;
}

.link_entry_username {
  flex-grow: 1;
}

.hsep {
  height: 1px;
  background: gray;
  margin: 1em 0;
}

.hsep.d {
  height: 3px;
  background: transparent;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin: 1em 0;
}

textarea {
  resize: vertical;
  max-height: 400px;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid gray;
  padding: 2px;
}

td[colspan] {
  text-align: center;
}

i.emoji {
  font-style: normal;
  font-family: "vn-color-emoji";
}

footer {
  margin: 2em;
  font-size: 9pt;
  text-align: center;
}
